.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: #000000;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.v-button__arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  border-radius: 999rem;
  background-image: linear-gradient(to bottom, #cc1513 0%, #f04746 100%);
  img,
  svg {
    max-width: 25px;
    max-height: 25px;
  }
}

.v-top {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 110px 0;
  background: url("../images/top_bg.jpg") no-repeat center top;
  background-size: cover;
  &_stretch {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &__search {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    margin: 180px 0 10px 0;
  }
  &__input {
    display: inline-block;
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
    margin: 0;
    padding: 22px 26px;
    border-radius: 10px 0 0 10px;
    border: 2px solid #cc1513;
    background-color: #ffffff;
    color: #212121;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
  }
  &__button {
    display: inline-block;
    flex: 0 0 150px;
    padding: 29px 6px;
    border: 0;
    border-radius: 0 10px 10px 0;
    background-image: linear-gradient(to top, #cc1513 0%, #f04746 100%);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-image: linear-gradient(to top, #e92422 0%, #ef7573 100%);
      img,
      svg {
        opacity: 0.95;
      }
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 18px 26px;
    box-shadow: 0 25px 51px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    color: #212121;
    font-size: 23px;
    font-weight: 500;
    b,
    strong {
      font-weight: 500;
      color: #cc1513;
    }
  }
  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 10px 10px 0;
    padding: 2px;
    box-shadow: 0 25px 51px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    img,
    svg {
      max-width: 58px;
      max-height: 58px;
    }
  }
  &__time {
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 10px 18px;
    box-shadow: 0 25px 51px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    b,
    strong {
      font-weight: 500;
      color: #cc1513;
    }
  }
}

.v-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }
  &_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 4;
    .v-header__city {
      display: none;
    }
    .v-header__phone {
      margin: 0;
    }
    .v-header__right {
      padding-right: 60px;
    }
    .v-header__nav {
      position: absolute;
      right: 0;
      margin: 0;
      top: 15px;
    }
    .v-header__menu {
      left: auto;
      right: -30px;
      text-align: right;
    }
    .v-header__close {
      left: auto;
      right: 30px;
    }
  }
  &__nav {
    display: block;
    position: relative;
    margin: 40px 0 0 0;
  }
  &__toggle {
    display: block;
    img,
    svg {
      max-width: 36px;
      max-height: 36px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__close {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    img,
    svg {
      max-width: 30px;
      max-height: 30px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__menu {
    display: none;
    position: absolute;
    width: 250px;
    top: -30px;
    left: -30px;
    margin: 0;
    padding: 70px 30px 35px 30px;
    list-style: none;
    box-shadow: 0 19px 54px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 5;
    li {
      display: block;
      a {
        display: block;
        margin: 14px 0 0 0;
        color: #212121;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #cc1513;
          text-decoration: none;
        }
      }
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    &-this {
      display: inline-block;
      color: #212121;
      font-size: 40px;
      font-weight: 700;
      b,
      strong,
      span {
        font-weight: 700;
        color: #cc1513;
      }
      transition: all 0.2s ease-out;
    }
    &-info {
      display: inline-block;
      margin: 0 0 0 14px;
      padding: 0 0 0 14px;
      border-left: 1px solid #b0b0b0;
      color: #b0b0b0;
      font-size: 14px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .v-header__logo-this {
        color: #cc1513;
      }
      color: #cc1513;
      text-decoration: none;
    }
  }
  &__city {
    display: inline-block;
    width: 160px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
    color: #212121;
    i {
      color: #cc1513;
    }
    &-link {
      font-size: 16px;
      font-weight: 400;
      color: #212121;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #cc1513;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: block;
    margin: 0 0 8px 0;
    color: #212121;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cc1513;
      text-decoration: none;
    }
  }
  &__call {
    display: block;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #cc1513;
    i {
      color: #cc1513;
    }
    span {
      text-decoration: underline;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      span {
        text-decoration: none;
      }
      color: #cc1513;
      text-decoration: none;
    }
  }
}

.v-help {
  display: block;
  position: relative;
  background: url("../images/help_bg.png") no-repeat center bottom;
  z-index: 2;
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    width: 100%;
    min-height: 910px;
    padding: 30px 0 85px 0;
  }
  &__title {
    display: block;
    margin: 295px 0 20px 0;
    padding-left: 10px;
    text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.29);
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &-card {
    display: none;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 420px;
    min-height: 74px;
    margin: 0 0 10px 0;
    padding: 6px 12px 6px 24px;
    box-shadow: 0 19px 54px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    &__icon {
      display: inline-flex;
      flex: 0 0 26px;
      height: 26px;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__text {
      display: inline-block;
      margin: 0;
      padding: 0 0 0 15px;
      color: #212121;
      font-size: 20px;
      font-weight: 400;
    }
  }
  &__info {
    display: block;
    margin: 0;
    padding-left: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }
  &__form {
    display: block;
    position: relative;
    width: 100%;
    max-width: 360px;
    &-title {
      display: block;
      margin: 0 0 20px 0;
      color: #212121;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      span {
        color: #cc1513;
      }
    }
    &-button {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 30px 0 26px 0;
      padding: 14px 2px 14px 74px;
      border: 0;
      border-bottom: 3px solid #7f0c0a;
      outline: none;
      border-radius: 10px;
      background-image: linear-gradient(to top, #cc1513 0%, #f04746 100%);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      .v-button__arrow {
        margin-left: 24px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        border-color: #a3100f;
        background-image: linear-gradient(to top, #e92422 0%, #ef7573 100%);
        .v-button__arrow {
          background: linear-gradient(to bottom, #e92523 0%, #ef7372 100%);
        }
        svg {
          linearGradient {
            stop:first-child {
              stop-color: rgb(233, 37, 35) !important;
            }
            stop:last-child {
              stop-color: rgb(239, 115, 114) !important;
            }
          }
        }
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-input {
      display: block;
      width: 100%;
      position: relative;
      input {
        display: block;
        width: 100%;
        margin: 0;
        outline: none;
        padding: 23px 8px 23px 52px;
        border-radius: 10px;
        border: 1px dashed transparent;
        background: #ffffff url("../images/input_bg.png") no-repeat 0 0;
        background-size: 100% 100%;
        color: #212121;
        font-size: 20px;
        font-weight: 300;
      }
    }
    &-icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 20px;
      max-width: 20px;
      max-height: 20px;
      margin-top: -10px;
    }
  }
  &__policy {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #212121;
    font-size: 12px;
    font-weight: 300;
  }
}

.v-plan {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -76px;
  padding: 160px 0 221px;
  background: url("../images/plan_bg.png") no-repeat center top;
  &__mob {
    display: none;
  }
  &_help {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    span {
      color: #cc1513;
    }
  }
  &__text {
    display: block;
    position: relative;
    margin: 0 0 100px 0;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 470px;
    margin: 75px 0 0 0;
    &_first {
      margin-top: 25px;
    }
    &_right {
      align-items: flex-end;
      text-align: right;
      .v-plan-card__image {
        border-radius: 30px 0;
        &:after {
          left: auto;
          right: 100%;
        }
      }
    }
    &__button {
      display: inline-flex;
      align-items: center;
      position: absolute;
      top: 180px;
      left: 0;
      width: 100%;
      max-width: 256px;
      padding: 18px 40px;
      background: url("../images/plan_order_bg.png") no-repeat 0 0;
      background-size: 100% 100%;
      color: #212121;
      font-size: 16px;
      font-weight: 300;
      img,
      svg {
        max-width: 12px;
        max-height: 12px;
        margin-left: 28px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          margin-left: 42px;
        }
        opacity: 0.8;
        color: #212121;
        text-decoration: none;
      }
    }
    &__image {
      display: block;
      position: relative;
      width: 100%;
      max-width: 270px;
      height: 270px;
      margin: 0 0 30px 0;
      border-radius: 0 30px;
      background-color: #f7f7f7;
      z-index: 1;
      &:after {
        display: block;
        position: absolute;
        content: "";
        bottom: 50%;
        left: 100%;
        width: 210px;
        height: 1px;
        background-color: #cc1513;
      }
      img,
      svg {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 470px;
        max-height: 350px;
      }
    }
    &__title {
      display: block;
      margin: 0;
      color: #212121;
      font-size: 23px;
      font-weight: 700;
    }
  }
  &_2 {
    margin: 0;
  }
  &__arrows {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 115px 0 0 0;
  }
  &__arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 91px;
    height: 91px;
    margin: 0 auto 122px auto;
    padding: 10px;
    border-radius: 999rem;
    border: 1px solid #212121;
    background-color: #ffffff;
    text-shadow: 0 4px 10px rgba(204, 21, 19, 0.4);
    color: #cc1513;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 100%;
      left: 50%;
      width: 1px;
      height: 122px;
      background: #212121;
    }
    &:first-child {
      &:before {
        display: block;
        position: absolute;
        content: "";
        width: 117px;
        height: 62px;
        right: 50%;
        bottom: 100%;
        background: url("../images/plan_before.png") no-repeat center;
        background-size: 100% 100%;
      }
    }
  }
  &__pass {
    display: inline-block;
    margin-top: -10px;
    z-index: 1;
    img,
    svg {
      max-width: 200px;
      max-height: 200px;
    }
  }
  &__form {
    display: block;
    position: relative;
    width: 100%;
    max-width: 360px;
    &-title {
      display: block;
      margin: 0 0 25px 0;
      color: #212121;
      font-size: 20px;
      font-weight: 300;
      span {
        color: #cc1513;
      }
    }
    &-button {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 30px 0 26px 0;
      padding: 14px 2px 14px 105px;
      border: 0;
      border-bottom: 3px solid #7f0c0a;
      outline: none;
      border-radius: 10px;
      background-image: linear-gradient(to top, #cc1513 0%, #f04746 100%);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      .v-button__arrow {
        margin-left: 85px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        border-color: #a3100f;
        background-image: linear-gradient(to top, #e92422 0%, #ef7573 100%);
        .v-button__arrow {
          background: linear-gradient(to bottom, #e92523 0%, #ef7372 100%);
        }
        svg {
          linearGradient {
            stop:first-child {
              stop-color: rgb(233, 37, 35) !important;
            }
            stop:last-child {
              stop-color: rgb(239, 115, 114) !important;
            }
          }
        }
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-input {
      display: block;
      width: 100%;
      position: relative;
      input {
        display: block;
        width: 100%;
        margin: 0;
        outline: none;
        padding: 23px 8px 23px 52px;
        border-radius: 10px;
        border: 1px dashed transparent;
        background: #ffffff url("../images/input_bg.png") no-repeat 0 0;
        background-size: 100% 100%;
        color: #212121;
        font-size: 20px;
        font-weight: 300;
      }
    }
    &-icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 20px;
      max-width: 20px;
      max-height: 20px;
      margin-top: -10px;
    }
  }
  &__policy {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #212121;
    font-size: 12px;
    font-weight: 300;
  }
  &_right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
  }
  &__warn {
    display: block;
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 15px 0 40px 0;
    padding: 18px 80px 18px 22px;
    box-shadow: 0 19px 54px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #ffffff url("../images/icon_warn.png") no-repeat right 20px center;
    &_right {
      max-width: 280px;
      margin: 15px 0 20px 0;
      padding: 18px 20px 18px 88px;
      text-align: right;
      background: #ffffff url("../images/icon_warn.png") no-repeat left 20px center;
    }
    &-title {
      display: block;
      margin: 0 0 7px 0;
      color: #212121;
      font-size: 14px;
      font-weight: 400;
    }
    &-text {
      display: block;
      margin: 0;
      color: #cc1513;
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.v-how {
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 0 245px 0;
  background: url("../images/how_bg.png") no-repeat center top;
  background-size: cover;
  z-index: 1;
  &__title {
    display: block;
    position: relative;
    margin: -195px 0 15px 0;
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    span {
      color: #cc1513;
    }
  }
  &__text {
    display: block;
    position: relative;
    margin: 0 0 25px 0;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    z-index: 1;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    padding: 36px 40px 40px 40px;
    /* box-shadow: 0 19px 54px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    background-color: #ffffff;
    color: #212121;
    &__subtitle {
      display: block;
      height: 19px;
      overflow: hidden;
      margin: 0 0 10px 0;
      font-size: 16px;
      font-weight: 700;
    }
    &__title {
      display: block;
      height: 27px;
      overflow: hidden;
      margin: 0 0 24px 0;
      font-size: 23px;
      font-weight: 700;
    }
    &__text {
      display: block;
      height: 76px;
      overflow: hidden;
      margin: 0 0 35px 0;
      font-size: 16px;
      font-weight: 500;
    }
    &__price {
      display: block;
      margin: 0 0 24px 0;
      font-size: 16px;
      font-weight: 700;
      b,
      strong {
        font-size: 20px;
      }
    }
    &__button {
      display: block;
      width: 100%;
      margin: 0;
      padding: 10px;
      border: 1px solid #cc1513;
      border-radius: 10px;
      background-color: #cc1513;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #ef7573 100%;
        color: #ffffff;
        text-decoration: none;
      }
    }
    ul {
      display: block;
      height: 256px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.2;
      li {
        display: block;
        position: relative;
        margin: 0 0 16px 0;
        padding-left: 28px;
        background: url("../images/new/li_red.png") no-repeat left top;
      }
    }
    text-decoration: none;
    transition: all 0.2s ease-out;
    &_gray {
      background: linear-gradient(to top, #575757 0%, #989898 100%);
      color: #ffffff;
      text-decoration: none;
    }
    &_red {
      background: url("../images/how_card_bg.jpg") no-repeat center center;
      background-size: 100% 100%;
      .v-how-card__button {
        border: 1px solid #ffffff;
        background-color: rgba(255, 255, 255, 0.3);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        color: #ffffff;
        &:hover {
          background: transparent;
          opacity: 1;
          color: #ffffff;
          text-decoration: none;
        }
      }
      ul {
        li {
          background: url("../images/new/li_white.png") no-repeat left top;
        }
      }
      color: #ffffff;
      text-decoration: none;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    width: 40px;
    height: 70px;
    margin: 0;
    outline: none;
    z-index: 3;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    bottom: auto;
    top: 265px;
    left: auto;
    right: calc((100vw - 1170px) / 2);
    margin-right: -50px;
    background: url("../images/icon_next.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-prev {
    bottom: auto;
    top: 265px;
    right: auto;
    left: calc((100vw - 1170px) / 2);
    margin-left: -50px;
    background: url("../images/icon_prev.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    filter: grayscale(100) brightness(2);
  }
}

.v-year {
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 690px;
  padding: 0 0 30px 0;
  &__title {
    display: block;
    position: relative;
    margin: -185px 0 28px 0;
    padding: 25px 0 0 66px;
    background: url("../images/1.png") no-repeat left center;
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 3;
    span {
      color: #cc1513;
    }
  }
  &__image {
    display: block;
    position: absolute;
    width: 650px;
    height: 700px;
    right: calc((100vw - 1200px) / 2 + 20px);
    bottom: 0;
    pointer-events: none;
    background-position: bottom right;
    background-repeat: no-repeat;
    z-index: 2;
    /* transition: all 0.2s ease-out; */
    &_1 {
      background-image: url("../images/year_1.png");
    }
    &_2 {
      background-image: url("../images/year_2.png");
    }
    &_3 {
      background-image: url("../images/year_3.png");
    }
  }
  &__info {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 18px 24px;
    border-radius: 10px;
    box-shadow: 0 19px 54px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    z-index: 3;
    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      width: 0;
      height: 0;
      margin-left: -24px;
      border-left: 24px solid transparent;
      border-right: 24px solid transparent;
      border-top: 24px solid #ffffff;
      clear: both;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 385px;
    margin: 0;
    padding: 14px 2px 14px 40px;
    border: 0;
    border-bottom: 3px solid #7f0c0a;
    outline: none;
    border-radius: 10px;
    background-image: linear-gradient(to top, #cc1513 0%, #f04746 100%);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    z-index: 3;
    .v-button__arrow {
      margin-left: 20px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      border-color: #a3100f;
      .v-button__arrow {
        background: linear-gradient(to bottom, #e92523 0%, #ef7372 100%);
      }
      background-image: linear-gradient(to top, #e92422 0%, #ef7573 100%);
      img,
      svg {
        opacity: 0.95;
      }
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 320px 0 0 0;
    z-index: 3;
  }
  &__cards {
    position: absolute;
    width: 100%;
    height: 506px;
    overflow: visible;
    bottom: 0;
    left: 0;
  }
  &-card {
    display: block;
    width: 100%;
    padding: 125px 0 180px 0;
    background-position: center center;
    background-size: cover;
    &__subtitle {
      display: block;
      margin: 0 0 5px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 65px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    width: 67px;
    height: 67px;
    margin: 0;
    outline: none;
    z-index: 3;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
    margin-left: 30px;
    background: url("../images/icon_next_glass.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-prev {
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
    background: url("../images/icon_prev_glass.png") no-repeat center center;
    background-size: contain;
  }
}

.v-why {
  display: block;
  position: relative;
  width: 100%;
  padding: 140px 0 0 0;
  &__title {
    display: block;
    margin: 0 0 90px 0;
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    span {
      color: #cc1513;
    }
  }
  &__cards {
    display: block;
  }
  &-card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 30px auto;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      width: 100%;
      max-width: 232px;
      height: 232px;
      background: url("../images/why_card_bg.png") no-repeat center center;
      background-size: 100% 100%;
      img,
      svg {
        position: absolute;
        max-width: 300px;
        max-height: 300px;
      }
    }
    &__title {
      display: block;
      margin: 38px 0 23px 0;
      color: #212121;
      font-size: 20px;
      font-weight: 700;
    }
    &__text {
      display: block;
      margin: 0;
      color: #212121;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.v-choose {
  display: block;
  position: relative;
  width: 100%;
  padding: 130px 0 140px 0;
  &__title {
    display: block;
    margin: -10px 0 0 0;
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    span {
      color: #cc1513;
    }
  }
  &__text {
    display: block;
    margin: 15px 0 0 0;
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 50px 0 15px 0;
    background: url("../images/choose_bg.png") no-repeat center center;
    background-size: 100% 100%;
  }
  &-card {
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 205px;
    margin: 0 0 30px 0;
    &__icon {
      display: inline-flex;
      align-items: center;
      width: 75px;
      height: 50px;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__text {
      display: inline-block;
      margin: 0;
      color: #212121;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.v-win {
  display: block;
  position: relative;
  width: 100%;
  padding: 46px 0 28px 0;
  background-color: #f6f6f6;
  &__content {
    display: block;
    position: relative;
    width: calc(100% + 30px);
    margin-left: -30px;
  }
  &__subtitle {
    display: block;
    margin: 0 0 5px 0;
    color: #212121;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
  }
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    span,
    b,
    strong {
      color: #cc1513;
    }
  }
  &__form {
    display: block;
    position: relative;
    width: 100%;
    &-button {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 0 0 20px 0;
      padding: 14px 2px 14px 38px;
      border: 0;
      border-bottom: 3px solid #7f0c0a;
      outline: none;
      border-radius: 10px;
      background-image: linear-gradient(to top, #cc1513 0%, #f04746 100%);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      .v-button__arrow {
        margin-left: 38px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        border-color: #a3100f;
        background-image: linear-gradient(to top, #e92422 0%, #ef7573 100%);
        .v-button__arrow {
          background: linear-gradient(to bottom, #e92523 0%, #ef7372 100%);
        }
        svg {
          linearGradient {
            stop:first-child {
              stop-color: rgb(233, 37, 35) !important;
            }
            stop:last-child {
              stop-color: rgb(239, 115, 114) !important;
            }
          }
        }
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-input {
      display: block;
      width: 100%;
      position: relative;
      margin: 0 0 20px 0;
      input {
        display: block;
        width: 100%;
        margin: 0;
        outline: none;
        padding: 23px 8px 23px 52px;
        border-radius: 10px;
        border: 1px dashed transparent;
        background: #ffffff url("../images/input_bg.png") no-repeat 0 0;
        background-size: 100% 100%;
        color: #212121;
        font-size: 20px;
        font-weight: 300;
      }
    }
    &-icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 20px;
      max-width: 20px;
      max-height: 20px;
      margin-top: -10px;
    }
  }
  &__policy {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #212121;
    font-size: 12px;
    font-weight: 300;
  }
  &__image {
    display: block;
    position: absolute;
    top: -90px;
    width: 604px;
    height: 440px;
    background: url("../images/win_1.png") no-repeat center center;
    background-size: contain;
    pointer-events: none;
  }
}

.v-city {
  display: block;
  position: relative;
  width: 100%;
  padding: 150px 0 80px 0;
  &__title {
    display: block;
    margin: 0 0 14px 0;
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    span {
      color: #cc1513;
    }
  }
  &__text {
    display: block;
    margin: 0 0 75px 0;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    span {
      color: #cc1513;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0;
    padding: 0 0 15px 0;
    &:last-child {
      padding-bottom: 0;
      .v-city-card__names {
        li:last-child {
          a {
            margin-bottom: 0;
          }
        }
      }
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 30px;
      top: 0;
      width: 1px;
      height: 100%;
      background: #d7d8da;
    }
    &__char {
      display: inline-block;
      width: 40px;
      margin: -4px 0 0 0;
      color: #cc1513;
      font-size: 25px;
      font-weight: 700;
    }
    &__names {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        a {
          display: inline-block;
          position: relative;
          margin: 0 0 10px 0;
          /* border-bottom: 1px dashed #a6a6a6; */
          color: #212121;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.1;
          cursor: pointer;
          text-decoration: underline;
          text-underline-position: under;
          text-decoration-style: dashed;
          text-decoration-color: #d2d2d2;
          transition: all 0.2s ease-out;
          &:hover,
          &:active,
          &:focus {
            border-color: transparent;
            color: #cc1513;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.v-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }

  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__content {
    display: none;
    position: absolute;
    left: 100%;
    top: -26px;
    width: 250px;
    padding: 26px 30px 30px 30px;
    box-shadow: 0 19px 54px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    z-index: 5;
    input {
      display: block;
      width: 100%;
      margin: 0 auto 10px auto;
      padding: 10px 12px;
      border: 0;
      border-radius: 10px;
      outline: none;
      background: url("../images/city_input_bg.png") no-repeat center center;
      background-size: 100% 100%;
      color: #212121;
      font-size: 16px;
      font-weight: 300;
      transition: all 0.2s ease-out;
    }
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #212121;
    font-size: 20px;
    font-weight: 700;
  }
  &__phone {
    display: block;
    margin: 0 0 4px 0;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
  }
  &__text {
    display: block;
    margin: 0 0 18px 0;
    opacity: 0.5;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 16px auto;
    padding: 12px;
    border: 0;
    outline: none;
    border-radius: 10px;
    background-color: #cc1513;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-image: linear-gradient(to top, #e92422 0%, #ef7573 100%);
      img,
      svg {
        opacity: 0.95;
      }
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__address {
    display: block;
    margin: 0;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
  }
}

.v-trust {
  display: block;
  position: relative;
  width: 100%;
  padding: 120px 0 245px 0;
  background: url("../images/trust_bg.jpg") no-repeat center top;
  &__title {
    display: block;
    margin: 0 0 38px 0;
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    span {
      color: #cc1513;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding-left: 45px;
    p {
      display: block;
      margin: 0 0 20px 0;
      color: #212121;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.v-about {
  display: block;
  position: relative;
  width: 100%;
  min-height: 1430px;
  padding: 0 0 85px 0;
  background: #f6f6f6 url("../images/about_bg.jpg") no-repeat center top;
  &__title {
    display: block;
    margin: -30px 0 0 0;
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    span {
      color: #cc1513;
    }
  }
  &__form {
    display: block;
    position: relative;
    width: 100%;
    max-width: 510px;
    &-button {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 14px 2px 14px 42px;
      border: 0;
      border-bottom: 3px solid #7f0c0a;
      outline: none;
      border-radius: 10px;
      background-image: linear-gradient(to top, #cc1513 0%, #f04746 100%);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      .v-button__arrow {
        margin-left: 15px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background-image: linear-gradient(to top, #e92422 0%, #ef7573 100%);
        .v-button__arrow {
          background: linear-gradient(to bottom, #e92523 0%, #ef7372 100%);
        }
        svg {
          linearGradient {
            stop:first-child {
              stop-color: rgb(233, 37, 35) !important;
            }
            stop:last-child {
              stop-color: rgb(239, 115, 114) !important;
            }
          }
        }
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-title {
      display: block;
      margin: 0 0 20px 0;
      color: #212121;
      font-size: 20px;
      font-weight: 700;
    }
    &-input {
      display: block;
      width: 100%;
      position: relative;
      margin: 0 0 20px 0;
      input {
        display: block;
        width: 100%;
        margin: 0;
        outline: none;
        padding: 23px 8px 23px 52px;
        border-radius: 10px;
        border: 1px dashed transparent;
        background: url("../images/about_input_bg.png") no-repeat 0 0;
        background-size: 100% 100%;
        color: #212121;
        font-size: 20px;
        font-weight: 300;
      }
    }
    &-icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 20px;
      max-width: 20px;
      max-height: 20px;
      margin-top: -10px;
    }
  }
  &__policy {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #212121;
    font-size: 12px;
    font-weight: 300;
  }
  &-what {
    display: block;
    width: 100%;
    max-width: 730px;
    margin: -40px 0 55px 0;
    padding: 40px 40px 40px 50px;
    border-radius: 10px;
    box-shadow: 0 19px 54px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    &__title {
      display: block;
      margin: 0 0 10px 0;
      color: #212121;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
      span,
      b,
      strong {
        color: #cc1513;
        font-size: 30px;
      }
    }
    &__subtitle {
      display: block;
      margin: 0 0 20px 0;
      color: #212121;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.5;
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      color: #212121;
      font-size: 16px;
      font-weight: 400;
      li {
        display: block;
        position: relative;
        margin: 0 0 12px 0;
        padding-left: 20px;
        &:before {
          display: block;
          position: absolute;
          content: "";
          left: 0;
          top: 7px;
          width: 5px;
          height: 5px;
          border-radius: 999rem;
          background-color: #cc1513;
        }
      }
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 120px);
    margin-left: -60px;
    padding: 0 60px 40px 60px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    &__content {
      display: block;
      position: relative;
      margin: 0;
      padding: 36px 40px 30px 40px;
      border-radius: 10px;
      box-shadow: 0 19px 54px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
    }
    &__more {
      display: block;
      position: relative;
      width: 100%;
      max-width: 409px;
      margin: 0 0 0 105px;
      padding: 34px 80px 36px 20px;
      border-radius: 0 0 10px 10px;
      background-color: #cc1513;
      text-align: right;
    }
    &__name {
      display: block;
      margin: 0 0 10px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
    }
    &__what {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      span,
      b,
      strong {
        font-weight: 700;
      }
    }
    &__image {
      display: block;
      position: absolute;
      top: 15px;
      right: 0;
      width: 120px;
      height: 120px;
      margin-right: -64px;
      padding: 0;
      border: 7px solid #ffffff;
      background-position: center center;
      background-size: cover;
      border-radius: 999rem;
      box-shadow: 0 11px 18px rgba(0, 0, 0, 0.24);
      background-color: #ffffff;
    }
    &__text {
      display: block;
      height: 144px;
      overflow: hidden;
      margin: 0 0 26px 0;
      color: #212121;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    &__link {
      display: flex;
      align-items: center;
      color: #cc1513;
      font-size: 16px;
      font-weight: 700;
      img,
      svg {
        display: inline-block;
        max-width: 15px;
        max-height: 15px;
        margin-right: 10px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #cc1513;
        text-decoration: none;
      }
    }
  }
  &__arrows {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 174px;
    height: 69px;
    margin-left: 340px;
    background: url("../images/arrows_bg.png") no-repeat center center;
    background-size: 100% 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: inline-block;
    position: relative;
    width: 87px;
    height: 69px;
    margin: 0;
    outline: none;
    z-index: 3;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .swiper-button-next {
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
    background: url("../images/icon_next_white.png") no-repeat center center;
  }
  .swiper-button-prev {
    bottom: auto;
    top: auto;
    left: auto;
    right: auto;
    background: url("../images/icon_prev_white.png") no-repeat center center;
  }
}

.v-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 0;
  background: #ffffff;
  &__logo {
    display: block;
    margin: 0 0 115px 0;
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    b,
    strong,
    span {
      font-weight: 700;
      color: #cc1513;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cc1513;
      text-decoration: none;
    }
  }
  &__what {
    display: block;
    margin: 0 0 35px 0;
    opacity: 0.5;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  &__subtitle {
    display: block;
    margin: 0 0 5px 0;
    opacity: 0.5;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
  }
  &__info {
    display: block;
    margin: 0 0 14px 0;
    color: #212121;
    font-size: 18px;
    font-weight: 300;
  }
  &__phone {
    display: block;
    margin: 0 0 24px 0;
    color: #212121;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #cc1513;
      text-decoration: none;
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
    padding-top: 10px;
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      margin: 0 20px 20px 0;
      padding: 6px;
      border-radius: 0 10px;
      background-color: #cc1513;
      text-align: center;
      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  &__policy {
    display: inline-block;
    opacity: 0.5;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #cc1513;
      text-decoration: none;
    }
  }
  &__more {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #212121;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3;
  }
}

.v-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.9);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 45px 45px 75px 45px;
    box-shadow: 0 19px 54px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #ffffff;
    .row {
      width: calc(100% + 15px);
    }
  }
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #212121;
    font-size: 35px;
    font-weight: 700;
  }
}

.v-place {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.9);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 30px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 45px 20px 20px 20px;
    box-shadow: 0 19px 54px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #ffffff;
    .row {
      width: calc(100% + 15px);
    }
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    span {
      color: #cc1513;
    }
  }
  &__text {
    display: block;
    margin: 0 0 75px 0;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    span {
      color: #cc1513;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0;
    padding: 0 0 15px 0;
    &:last-child {
      padding-bottom: 0;
      .v-city-card__names {
        li:last-child {
          a {
            margin-bottom: 0;
          }
        }
      }
    }
    &:before {
      display: block;
      position: absolute;
      content: "";
      left: 30px;
      top: 0;
      width: 1px;
      height: 100%;
      background: #d7d8da;
    }
    &__char {
      display: inline-block;
      width: 40px;
      margin: -4px 0 0 0;
      color: #cc1513;
      font-size: 25px;
      font-weight: 700;
    }
    &__names {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        a {
          display: inline-block;
          position: relative;
          margin: 0 0 10px 0;
          /* border-bottom: 1px dashed #a6a6a6; */
          color: #212121;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.1;
          cursor: pointer;
          text-decoration: underline;
          text-underline-position: under;
          text-decoration-style: dashed;
          text-decoration-color: #d2d2d2;
          transition: all 0.2s ease-out;
          &:hover,
          &:active,
          &:focus {
            border-color: transparent;
            color: #cc1513;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1299px) {
  .v-modal__content {
    top: 100%;
    left: 0;
  }
}

@media (max-width: 1199px) {
  .v-modal__content {
    position: fixed;
    top: calc(50vh - 143px);
    left: calc(50vw - 125px);
    /* width: 190px;
    padding: 25px 10px 20px 10px; */
  }
  .v-city-card__names {
    position: initial;
    li {
      position: initial;
    }
  }
  .v-year__image {
    display: none;
  }
  .v-how .swiper-button-next {
    right: 0;
    margin: 0;
  }
  .v-how .swiper-button-prev {
    left: 0;
    margin: 0;
  }
  .v-win__image {
    position: relative;
    top: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .v-win__content {
    width: 100%;
    margin: 0;
  }
  .v-plan-card__image:after {
    display: none !important;
  }
  .v-about__arrows {
    margin: 0;
  }
  .v-about-card__more {
    margin: 0;
    padding: 34px 130px 36px 8px;
  }
  .v-about-card__content {
    border-radius: 0 10px 0 0;
  }
  .v-about-card__image {
    top: 10px;
    margin-right: 5px;
  }
  .v-header__logo-info {
    display: none;
  }
  .v-about__cards {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .v-year__title {
    margin: 20px 0;
    padding: 52px 0 0 60px;
    font-size: 28px;
  }
  .v-about-what {
    margin: 20px 0;
    padding: 30px 20px;
  }
  .v-about__form-input {
    margin-bottom: 10px;
  }
  .v-button__arrow {
    margin-left: 90px;
  }
  .v-about__policy {
    margin: 15px 0 0 0;
  }
  .v-about {
    padding: 30px 0;
    background: #f6f6f6;
  }
  .v-footer {
    padding: 30px 0;
  }
  .v-footer__logo {
    margin-bottom: 30px;
  }
  .v-about__title {
    margin: 0 0 20px 0;
    font-size: 28px;
  }
  .v-trust {
    padding: 30px 0;
    border-top: 14px solid #c41513;
    border-bottom: 14px solid #c41513;
    background: #f6f6f6;
  }
  .v-trust__content {
    padding: 0;
  }
  .v-trust__title {
    margin: 0 0 20px 0;
    font-size: 32px;
  }
  .v-city {
    padding: 30px 0;
  }
  .v-city__text {
    margin-bottom: 30px;
  }
  .v-city__title {
    font-size: 32px;
  }
  .v-city-card__char {
    width: 30px;
    font-size: 20px;
  }
  .v-city-card__names li a {
    font-size: 12px;
  }
  .v-city-card:before {
    left: 22px;
  }
  .v-city-card:last-child .v-city-card__names li:last-child a {
    margin-bottom: 10px;
  }
  .v-city-card:last-child {
    padding-bottom: 15px;
  }
  .v-button__arrow {
    margin-left: 60px;
  }
  .v-win__title {
    margin-bottom: 10px;
    font-size: 28px;
  }
  .v-win__subtitle {
    font-size: 18px;
  }
  .v-win__image {
    width: 100%;
    max-width: 400px;
    height: 300px;
  }
  .v-win__form-input {
    margin-bottom: 10px;
  }
  .v-choose {
    padding: 30px 0;
  }
  .v-choose__cards {
    padding: 30px 20px;
  }
  .v-choose-card {
    margin: 15px 0;
  }
  .v-choose__title {
    margin: 0;
    font-size: 32px;
  }
  .v-choose__text {
    margin: 15px 0;
  }
  .v-why-card {
    display: flex;
    margin: 0 auto 30px auto;
  }
  .v-why-card__title {
    margin: 20px 0;
  }
  .v-why {
    padding: 30px 0 0 0;
  }
  .v-why__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .v-year-card__title {
    height: 114px;
    overflow: hidden;
    font-size: 48px;
  }
  .v-year__button {
    margin-top: 10px;
    padding-left: 20px;
  }
  .v-year-card {
    padding: 0;
    .container {
      height: 100%;
      padding: 125px 15px 180px 15px;
      background: rgba(0, 0, 0, 0.5);
    }
  }
  .v-year .swiper-button-next {
    margin-left: 10px;
  }
  .v-how {
    padding: 30px 0;
  }
  .v-how__title {
    margin: 0;
    font-size: 32px;
  }
  .v-how__text {
    margin: 10px 0 20px 0;
  }
  .v-plan {
    margin: 0;
    padding: 30px 0;
    background: #f7f7f7;
  }
  .v-plan__arrows {
    display: none;
  }
  .v-plan-card_right {
    align-items: flex-start;
    text-align: left;
  }

  .v-plan-card__title {
    font-size: 18px;
  }
  .v-plan-card__image {
    margin-bottom: 10px;
  }
  .v-plan-card {
    margin-top: 30px;
  }
  .v-plan_right {
    justify-content: flex-start;
  }
  .v-plan__form-input {
    margin-bottom: 10px;
  }
  .v-plan__form-button {
    margin: 0 0 10px 0;
  }
  .v-plan__form-title {
    font-size: 19px;
  }
  .v-plan__text {
    margin-bottom: 30px;
  }
  .v-plan__title {
    font-size: 31px;
  }
  .v-help-card {
    display: flex;
  }
  .v-help__content {
    min-height: auto;
    padding: 30px 0;
  }
  .v-help__form-title {
    margin: 20px 0;
    font-size: 32px;
    text-align: center;
  }
  .v-help__form-button {
    margin: 10px 0;
    padding-left: 30px;
  }
  .v-help__title {
    margin: 30px 0 15px 0;
    color: #212121;
  }
  .v-help__info {
    color: #212121;
  }
  .v-help {
    background: #ffffff;
  }
  .v-top {
    padding-bottom: 20px;
    & > .container {
      background: rgba(255, 255, 255, 0.7);
    }
  }
  .v-header__nav {
    position: absolute;
    top: 5px;
    right: 15px;
    margin: 0;
    padding: 6px 0 6px 6px;
    z-index: 3;
  }
  .v-header {
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.7);
  }
  .v-header__menu {
    left: auto;
    right: -15px;
    top: -15px;
  }
  .v-header__close {
    top: 15px;
    left: auto;
    right: 15px;
  }
  .v-header {
    text-align: right;
  }
  .v-top__search {
    margin: 0 0 10px 0;
  }
  .v-top__search {
    flex-flow: column nowrap;
  }
  .v-top__button {
    width: 100%;
    flex: 0 0 auto;
    padding: 24px 6px;
    border-radius: 0 0 10px 10px;
    text-align: center;
  }
  .v-top__input {
    padding: 20px 4px;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
  }
  .v-top__info {
    font-size: 17px;
  }
  .v-help__title {
    padding-left: 0;
  }
  .v-help__info {
    padding-left: 0;
  }
  .v-top {
    background-position: center center;
    background-size: auto 120%;
  }
  .v-top {
    padding: 0;
  }
  .v-help-card {
    max-width: 100%;
  }
  .v-help__form {
    max-width: 100%;
  }
  .v-plan__text {
    margin-bottom: 40px;
  }
  .v-how-card {
    margin: 0 auto;
  }
  .v-choose__title {
    text-align: center;
  }
  .v-choose__text {
    text-align: center;
  }
  .v-popup__content .row {
    width: 100%;
  }
  .v-popup__content .row {
    width: calc(100% + 30px);
  }
  .v-button__arrow {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -20px;
  }
  .v-about__form-button {
    padding: 22px 70px 22px 30px;
  }
  .v-popup__title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .v-popup__content {
    padding: 40px 20px 20px 20px;
  }
  .v-year__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 67px;
    padding: 4px 70px 4px 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
  .v-plan__form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 67px;
    padding: 4px 70px 4px 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
  .v-help__form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 67px;
    padding: 4px 70px 4px 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
  .v-win__form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 67px;
    padding: 4px 70px 4px 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
  .v-about__form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 67px;
    padding: 4px 70px 4px 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
  .v-plan_2 {
    margin-top: 40px;
  }
  .v-place__text {
    margin-bottom: 30px;
  }
  .v-place__title {
    font-size: 32px;
  }
  .v-place-card__char {
    width: 30px;
    font-size: 20px;
  }
  .v-place-card__names li a {
    font-size: 12px;
  }
  .v-place-card:before {
    left: 22px;
  }
  .v-place-card:last-child .v-place-card__names li:last-child a {
    margin-bottom: 10px;
  }
  .v-place-card:last-child {
    padding-bottom: 15px;
  }
  .v-place__content {
    padding: 45px 0 20px 0;
  }
  .v-header_fixed {
    .v-header__right {
      display: none;
    }
  }
  .v-header_fixed .v-header__nav {
    top: 5px;
    right: 15px;
  }
  .v-year__cards {
    overflow: hidden;
  }
}

.v-top__mob {
  display: none;
}

.v-plan-card__number {
  display: none;
}

.v-header__mobcall {
  display: none;
}

.v-year__hide {
  display: none;
}

.v-help__swipes {
  display: none;
}

.v-header__city_mob {
  display: none;
  margin: 0px 0 20px 0;
  display: inline-block;
  width: 160px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  color: #212121;
  i {
    color: #cc1513;
  }
}

.v-plan__mob-button {
  display: none;
}

.v-header__city_mob {
  display: none;
}

@media (max-width: 768px) {
  .v-header__city_mob {
    display: block !important;
  }
  .v-plan__mob {
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 590px;
    background: url("../images/woman_mob.jpg") no-repeat top center;
    background-size: cover;
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 0;
      left: 0;
      min-height: 67px;
      width: 100%;
      margin: 0;
      padding: 4px 70px 4px 20px;
      border: 0;
      outline: none;
      background-image: linear-gradient(to top, #cc1513 0%, #f04746 100%);
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      z-index: 4;
      .v-button__arrow {
        margin-left: 20px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        border-color: #a3100f;
        .v-button__arrow {
          background: linear-gradient(to bottom, #e92523 0%, #ef7372 100%);
        }
        background-image: linear-gradient(to top, #e92422 0%, #ef7573 100%);
        img,
        svg {
          opacity: 0.95;
        }
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .v-header {
    background: transparent;
    .container {
      & > div {
        width: 100%;
      }
    }
  }
  .v-header__city {
    display: none;
  }
  .v-header__phone {
    display: none;
  }
  .v-header__call {
    display: none;
  }
  .v-header__logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
  }
  .v-header__logo-this {
    margin: 0;
    font-size: 24px;
  }
  .v-header__logo-info {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    color: #b0b0b0;
    font-size: 14px;
    font-weight: 400;
    br {
      display: none;
    }
  }
  .v-top {
    background: url("../images/mob/mob_top.jpg") no-repeat center top;
    background-size: cover;
  }
  .v-header_fixed {
    background: rgba(255, 255, 255, 0.9);
  }
  .v-top__search {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 0 220px 0;
  }
  .v-top__input {
    display: none;
  }
  .v-top__button {
    width: auto;
    flex: 0 0 105px;
    padding: 16px 10px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #cc1513 0%, #f04746 100%);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }
  .v-top__mob {
    display: block;
    margin: 0 0 20px 0;
    color: #212121;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
  }
  .v-top > .container {
    background: transparent;
  }
  .v-top__info {
    margin-bottom: 4px;
    padding: 5px 14px;
    box-shadow: 0 25px 51px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ffffff;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
  }
  .v-top__icon img,
  .v-top__icon svg {
    max-width: 37px;
    max-height: 37px;
  }
  .v-top__time {
    margin: 0;
    padding: 6px 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: #ffffff;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
  }
  .v-top__icon {
    width: 50px;
    height: 50px;
    margin: 0 4px 0 0;
    padding: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
  .v-top_stretch {
    padding-bottom: 20px;
  }
  .v-header__toggle {
    padding: 8px 8px 8px 0;
  }
  .v-header__nav {
    right: auto;
    left: 15px;
    padding: 0;
  }
  .v-header__toggle img,
  .v-header__toggle svg {
    max-width: 24px;
    max-height: 24px;
  }
  .v-header__menu {
    right: auto;
    left: -15px;
    text-align: left;
  }
  .v-header__close {
    right: auto;
    left: 15px;
  }
  .v-header_fixed .v-header__nav {
    right: auto;
    left: 15px;
  }
  .v-help__content {
    .row {
      width: auto !important;
    }
  }
  .v-help__form-title {
    color: #212121;
    font-size: 30px;
    text-align: left;
  }
  .v-help__form-input input {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .v-help__policy {
    margin-bottom: 30px;
    opacity: 0.5;
    color: #212121;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }
  .v-help {
    .col-xl-5.offset-xl-3 {
      padding-top: 40px;
      padding-bottom: 40px;
      background-image: linear-gradient(-210deg, #cc1513 0%, #f04746 100%);
    }
  }
  .v-help__title {
    margin: 0 0 26px 0;
    text-shadow: 4px 6px 6px rgba(0, 0, 0, 0.29);
    color: #ffffff;
    font-size: 25px;
  }
  .v-help__info {
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }
  .v-help__content {
    padding-bottom: 0;
  }
  .v-plan__title {
    margin: 0 0 25px 0;
    font-size: 30px;
  }
  .v-plan__text {
    margin: 0;
    font-size: 20px;
  }
  .v-plan-card {
    margin: 50px auto 0 auto;
    align-items: center;
  }
  .v-plan-card__title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  .v-plan__form-title {
    margin: 0 0 17px 0;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
  .v-plan__form-input input {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .v-plan__policy {
    font-size: 12px;
    text-align: center;
  }
  .v-plan__form {
    order: 99;
  }
  .v-plan {
    background: #ffffff;
  }
  .v-plan-card__number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 69px;
    height: 69px;
    left: 0;
    top: 0;
    margin: -25px 0 0 -5px;
    padding: 4px;
    border: 1px solid #212121;
    background-color: #ffffff;
    border-radius: 999rem;
    text-shadow: 0 4px 10px rgba(204, 21, 19, 0.4);
    color: #cc1513;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    z-index: 3;
  }
  .v-plan-card__button {
    position: relative;
    justify-content: center;
    top: auto;
    left: auto;
    margin: 10px 0 0 0;
    text-align: center;
  }
  .v-plan__warn {
    margin: 10px auto 0 auto;
  }
  .v-plan__warn {
    margin: 10px auto 65px auto;
  }
  #services {
    display: block;
  }
  .v-how {
    padding: 50px 0;
  }
  .v-header__mobcall {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .v-about__form-input input {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .v-how-card__text {
    margin-bottom: 20px;
  }
  .v-how-card {
    padding: 26px;
  }
  .v-year__hide {
    display: inline;
    color: #cc1513;
    font-size: 30px;
    font-weight: 700;
  }
  .v-year__title {
    margin: 0 0 16px 0;
    padding: 0;
    background: transparent;
  }
  .v-year {
    padding: 75px 0 0 0;
  }
  .v-year__info {
    margin-bottom: 90px;
  }
  .v-year-card__subtitle {
    position: relative;
    z-index: 3;
    color: #212121;
    font-size: 20px;
    text-align: center;
  }
  .v-year-card__title {
    color: #212121;
    font-size: 45px;
    text-align: center;
  }
  .v-year__cards {
    height: 460px;
  }
  .v-year-card .container {
    padding: 120px 15px 175px 15px;
    background: transparent;
  }
  .v-year__button {
    margin: 0 auto 20px auto;
  }
  .v-year__row {
    justify-content: center;
  }
  .v-year .swiper-button-prev {
    margin: 0 15px 24px 15px;
    background: url("../images/mob/icon_prev_glass.png") no-repeat center center;
  }
  .v-year .swiper-button-next {
    margin: 0 15px 24px 15px;
    background: url("../images/mob/icon_next_glass.png") no-repeat center center;
  }
  .v-year__image {
    display: block;
    width: 493px;
    height: 533px;
    height: 580px;
    left: 50%;
    margin-left: -247px;
    background-size: contain;
    z-index: 2;
  }
  .v-year {
    transform-style: preserve-3d;
  }
  .v-year__image {
    transform: translate3d(0, 0, 0);
    position: absolute;
    z-index: 2;
  }
  .v-year-card .container {
    position: relative;
    transform: translate3d(0, 0, 1px);
  }
  .v-year-card__title {
    position: relative;
    z-index: 3;
  }
  .v-year__cards {
    height: 580px;
    padding-top: 120px;
    overflow: hidden;
  }
  .v-year__card {
    background-size: auto 460px;
    background-position: center bottom;
  }
  .v-why {
    padding: 75px 0 10px 0;
  }
  .v-why__title {
    margin: 0 0 35px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }
  .v-why-card {
    margin-bottom: 50px;
  }
  .v-choose {
    padding: 0 0 65px 0;
    &__title {
      margin: 0 0 30px 0;
      font-size: 30px;
      text-align: left;
    }
    &__text {
      margin: 0 0 30px 0;
      text-align: left;
    }
    &__cards {
      padding: 10px 20px 20px 20px;
      background: url("../images/mob/pay_bg.png") no-repeat center center;
      background-size: 100% 100%;
    }
    &-card {
      margin: 30px 10px;
    }
  }
  .v-win {
    padding: 0 0 90px 0;
    background: #ffffff;
  }
  .v-win__image {
    width: 330px;
    height: 253px;
    margin: 15px 0 15px -15px;
    background: url("../images/mob/auto.png") no-repeat left -20px center;
    background-size: contain;
  }
  .v-win__form-input input {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .v-win__policy {
    opacity: 0.5;
    color: #212121;
    font-size: 12px;
    text-align: center;
  }
  .v-city {
    padding: 0 0 70px 0;
  }
  .v-city__title {
    margin: 0 0 20px 0;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }
  .v-city__text {
    margin: 0 0 18px 0;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
  }
  .v-city-card__char {
    width: 40px;
    font-size: 25px;
    font-weight: 700;
  }
  .v-city-card:before {
    left: 29px;
  }
  .v-trust {
    margin: 0 6px;
    padding: 0;
    border-radius: 20px;
    background: #c41513;
    &__content {
      padding: 30px 20px;
      box-shadow: 0 7px 9px rgba(0, 0, 0, 0.41);
      border-radius: 10px;
      background: #ffffff url("../images/mob/gerb.png") no-repeat right top 8px;
    }
  }
  .v-trust__title {
    margin: 0 0 20px 0;
    font-size: 30px;
  }
  .v-trust__content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  .v-header_fixed .v-header__menu {
    right: auto;
    left: -15px;
    text-align: left;
  }
  .v-header_fixed .v-header__close {
    left: 15px;
  }
  .v-about {
    min-height: auto;
    background: url("../images/mob/woman.png") no-repeat center bottom;
    background-size: 100% auto;
  }
  .v-about__form-title {
    margin: 420px 0 26px 0;
    text-shadow: 0 3px 8px #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .v-about__form-input {
    margin-bottom: 20px;
  }
  .v-about__policy {
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
  }
  .v-footer {
    padding: 50px 0 80px 0;
  }
  .v-footer__what {
    padding-top: 20px;
  }
  .v-footer__policy {
    margin-bottom: 50px;
  }
  .v-help-card {
    display: none;
  }
  .v-help__swipes {
    display: block;
    width: calc(100% + 36px);
    min-height: 370px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 150px 0 140px 0;
    background: url("../images/mob/sad_bg.jpg") no-repeat left center;
    .swiper-pagination {
      width: auto !important;
      left: 15px;
      bottom: 120px;
    }
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      margin: 0 5px;
      background-color: #aeaeae;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: #cc1513;
    }
  }
  .v-help__swipe {
    display: block;
    position: relative;
    width: 100%;
    max-width: 180px;
    margin: 0 0 0 18px;
    padding: 16px 17px;
    border-radius: 10px;
    box-shadow: 0 19px 54px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 105px;
      height: 60px;
      right: -67px;
      top: 0;
      background: url("../images/mob/icon_light.png") no-repeat 0 0;
      background-size: contain;
      z-index: -1;
    }
    p {
      margin: 0;
      color: #212121;
      font-size: 16px;
      font-weight: 400;
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: -23px;
      width: 46px;
      height: 46px;
      margin-left: -23px;
      border-radius: 999rem;
      background-color: #ffffff;
      z-index: 1;
      img,
      svg {
        max-width: 40px;
        max-height: 40px;
      }
    }
  }
  .v-header__city {
    display: block;
    margin: 25px 0 0 0;
  }
  .v-header_fixed .v-header__city {
    display: block;
    margin: 25px 0 0 0;
  }
  .v-top__search {
    margin-bottom: 250px;
  }
  .v-year__cards {
    overflow: hidden;
  }
  .v-modal__content {
    position: absolute;
    top: 100%;
    left: -40px;
  }
  .v-city__cards {
    padding: 30px 25px;
    border: 1px dashed #d7d8da;
    border-radius: 10px;
    background: transparent;
    background-size: 100% 100%;
    & > .row {
      height: auto;
      ::-webkit-scrollbar {
        width: 3px;
      }
      ::-webkit-scrollbar-track {
        background: #777777;
      }
      ::-webkit-scrollbar-thumb {
        background: #cc1513;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #cc1513;
      }
    }
  }
  .v-city-card__names li a {
    position: relative;
    font-size: 16px;
    font-weight: 400;
  }
  .v-city-card__names li {
    position: relative;
  }
  .v-plan__mob {
    display: block;
  }
  .v-header__city {
    display: none;
  }
  .v-plan {
    &_1 {
      order: 1;
      margin-bottom: 70px;
      background: url("../images/new/step_1.png") no-repeat left top;
      &:before {
        height: 120px !important;
      }
    }
    &_2 {
      order: 2;
      background: url("../images/new/step_2.png") no-repeat left top;
    }
    &_3 {
      order: 3;
      background: url("../images/new/step_3.png") no-repeat left top;
    }
    &_4 {
      order: 4;
      background: url("../images/new/step_4.png") no-repeat left top;
    }
    &_5 {
      order: 5;
      background: url("../images/new/step_5.png") no-repeat left top;
    }
    &_6 {
      order: 6;
      background: url("../images/new/step_6.png") no-repeat left top;
      &:before {
        height: 138px !important;
      }
    }
    &_7 {
      order: 7;
    }
    &_8 {
      order: 8;
      background: url("../images/new/step_7.png") no-repeat left top;
      &:before {
        display: none !important;
      }
    }
    &_9 {
      order: 9;
    }
  }
  .v-plan__form {
    order: 99;
    margin-top: 50px;
  }
  .v-plan__text {
    margin: 0;
  }
  .v-plan-card {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 70px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    padding-left: 90px;
  }
  .v-plan-card__image {
    display: none;
  }
  .v-plan-card__button {
    position: absolute;
    width: calc(100% - 90px);
    left: 90px;
    top: calc(100% + 18px);
  }
  .v-plan-card__title {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }
  .v-plan__warn {
    width: 100%;
    max-width: 195px;
    margin: 0 0 0 90px;
    padding: 8px 10px;
  }
  .v-plan-card__number {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 100%;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    opacity: 0.5;
    color: #202020;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .v-plan-card:before {
    display: block;
    position: absolute;
    content: "";
    left: 35px;
    top: 70px;
    width: 1px;
    height: 50px;
    background-color: #212121;
    opacity: 0.2;
  }
  .v-plan-card__button {
    padding: 17px 30px;
  }
}

@media (max-width: 374px) {
  .v-top {
    background-size: auto 115%;
  }
}
